<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=192.168.114.4;Initial Catalog=tst_c21_imp_auth;User ID=sa;Password=c21access;Persist Security Info=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="+Uw9NwRJcR7zmMFYqmmygloSzFtJL3xQYuCD7pZTSb5/bePuFlCO2n6MibT9ckU6t9Zb0ejhpvxljWSKVUf5msxkkRZrHUiDIJ/38jEdVtyRUKUrSueFEoxj0ZWhyPFJqTTSN7SAQxz/bdkEKiWAHPlu1l+dZISo"/>
    <add key="ConStringEncrypt" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
